
@{
    ViewData["Title"] = "ManageMessages";
    Layout = "_Layout";
}
@model ManageChatsViewModel
<link rel="stylesheet" href="~/css/AccountStyles.css" />
<section class="my-5">

    <!-- REPLY VIEW MODAL -->

    <div class="modal fade" id="viewRplyModal" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header row mx-0">
                    <div class="col-10">
                        <h3 class="modal-title" id="modal-register-label">View Reply</h3>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="col-12">
                        <p id="replyResponseTitle">Responding to <b>[Username]</b>'s message title "[message title]", which says:</p>
                    </div>
                    <div class="col-12">
                        <p id="replyResponseContent">[message content]</p>
                    </div>
                    <div class="col-12">
                        <p>
                            <b>You Responded With:</b>
                        </p>
                    </div>
                </div>

                <div class="modal-body">
                    <div id="replyForm" role="form" class="registration-form">
                        <div class="form-group">
                            <label class="sr-only">Reply Body</label>
                            <textarea readonly="readonly" placeholder="Reply body..."
                                      class="form-about-yourself form-control" id="replyBody"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF REPLY VIEW MODAL -->
    <!-- VIEW MESSAGE VIEW MODAL -->

    <div class="modal fade" id="viewMsgModal" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header row mx-0">
                    <div class="col-10">
                        <h3 class="modal-title" id="modal-register-label">Viewing Message</h3>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="col-12">
                        <p id="viewMsgModalInfo">Posted to [ChatRoom] Chat on [DateTime]</p>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="registration-form">
                        <div id="replyViewGroup" class="form-group">
                            <label class="sr-only" for="msgTitle">Message Title</label>
                            <input readonly="readonly" name="msgTitle" type="text" placeholder="Message title..." class="form-first-name form-control" id="msgTitleView">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="msgBody">Message Body</label>
                            <textarea name="msgBody" readonly="readonly" placeholder="Message body..."
                                      class="form-about-yourself form-control" id="msgBodyView"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF MESSAGE VIEW MODAL -->

    <!-- EDIT MESSAGE MODAL -->

    <div class="modal fade" id="editModal" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header row mx-0">
                    <div class="col-10">
                        <h3 class="editModal-title" id="modal-register-label">Edit</h3>
                    </div>
                    <div class="col-2">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="col-12">
                        <p>Fill out the Fields Below:</p>
                    </div>
                </div>

                <div class="modal-body">
                    <form role="form" onsubmit="editMsgEvent(event)" method="post" class="registration-form">
                        <div class="form-group" id="editTitleGroup">
                            <label class="sr-only">Message Title</label>
                            <input type="text" placeholder="Edit title..." class="form-first-name form-control" id="editMsgTitle">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Message Body</label>
                            <textarea placeholder="Edit body..."
                                      class="form-about-yourself form-control" id="editMsgBody"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="editModal-updateButton" data-value="" onclick="submitEditedMsgEvent(event)">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF EDIT MESSAGE MODAL -->

    <div class="p-4 text-center">
        <h1 class="pageHeaderCustom text-light">Message and Reply Management</h1>
    </div>
    <div class="row">
        <div class="col-6 col-md-12">
            <div class="p-4 text-center">
                <h2 class="pageHeaderCustom text-light">Post Messages</h2>
            </div>
            <table class="table bg-light table-striped w-100 table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Posted On</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Message m in Model.MessageList)
                    {
                        <tr>
                            <th scope="row">@m.MessageID</th>
                            <td class="titleLimit">@m.MessageContent</td>
                            <td>@m.GetTimePosted</td>
                            <td><a data-toggle="modal" data-target="#viewMsgModal" class="view" href="#" data-msg-type="message" data-value=@m.MessageID onclick="viewMsgEvent(event)"><i class="fa fa-eye"></i></a></td>
                            <td><a data-toggle="modal" data-target="#editModal" class="edit " href="#" data-msg-type="message" data-value=@m.MessageID onclick="editMsgEvent(event)"><i class="fa fa-edit"></i></a></td>
                            <td><a class="trash " href="#" data-msg-type="message" data-value=@m.MessageID><i class="fa fa-trash"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6 col-md-12">
            <div class="p-4 text-center">
                <h2 class="pageHeaderCustom text-light">Post Replies</h2>
            </div>
            <table class="table bg-light table-striped w-100 table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Posted On</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Reply r in Model.ReplyList)
                    {
                    <tr>
                        <th scope="row">@r.ReplyID</th>
                        <td class="titleLimit">@r.ReplyContent</td>
                        <td>@r.GetTimePosted</td>
                        <td><a data-toggle="modal" data-target="#viewRplyModal" class="view " href="#" data-msg-type="reply" data-value=@r.ReplyID onclick="viewMsgEvent(event)"><i class="fa fa-eye"></i></a></td>
                        <td><a data-toggle="modal" data-target="#editModal" class="edit " href="#" data-msg-type="reply" data-value=@r.ReplyID onclick="editMsgEvent(event)"><i class="fa fa-edit"></i></a></td>
                        <td><a class="trash " href="#" data-msg-type="reply" data-value=@r.ReplyID><i class="fa fa-trash"></i></a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/messagingClient/forumClient.js"></script>
</section>

